@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
    background-color: #F9F6EE;
}

.ReactModal__Overlay {
    z-index: 10;
}

mark {
    @apply bg-yellow-100;
}